<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
<div>
    <a href="/admin/logs">网站状态</a>
    <a href="/admin/users">用户管理</a>
    <a href="/admin/goods">物品管理</a>
    <a href="/admin/orders">订单管理</a>
    <a href="/admin/notice">公告管理</a>
    <a href="/admin/setting">后台设置</a>
</div>
<a href="/user/">网站登录</a>
<table>
    <tr>
        <td>name</td>
        <td>price</td>
        <td>detail</td>
        <td>location</td>
        <td>like</td>
        <td>time</td>
        <td>url</td>
    </tr>

    <tr th:each="goods, goodsStat:${goodsList}">
        <td th:text="${goods.getTitle()}"></td>
        <td th:text="${goods.getPrice()}"></td>
        <td th:text="${goods.getDetail()}"></td>
        <td th:text="${goods.getLocation()}"></td>
        <td th:text="${goods.getStar()}"></td>
        <td th:text="${goods.getTime()}"></td>
        <td th:text="${goods.getPurchaseUrl()}"></td>
        <td><a th:href="@{/showGoods(id=${goods.getId()})}">详情</a> </td>
    </tr>

</table>
</body>
</html>