<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
<div>
    <a href="/schoolHelper/admin/logs">网站状态</a>
    <a href="/schoolHelper/admin/users">用户管理</a>
    <a href="/schoolHelper/admin/goods">物品管理</a>
    <a href="/schoolHelper/admin/orders">订单管理</a>
    <a href="/schoolHelper/admin/notice">公告管理</a>
    <a href="/schoolHelper/admin/setting">后台设置</a>
</div>
<a href="/schoolHelper/user/login">网站登录</a>
<table>
    <tr>
        <td>id</td>
        <td>date</td>
        <td>visit</td>
        <td>user</td>
        <td>goods</td>
        <td>successDeal</td>
        <td>failedDeal</td>
    </tr>
    <tr th:each="log, logStat:${logsList}">
        <td th:text="${log.getId()}">id</td>
        <td th:text="${log.getDate()}">date</td>
        <td th:text="${log.getVisit()}">visit</td>
        <td th:text="${log.getUser()}">user</td>
        <td th:text="${log.getGoods()}">goods</td>
        <td th:text="${log.getSuccessDeal()}">successDeal</td>
        <td th:text="${log.getFailedDeal()}">failedDeal</td>
    </tr>
</table>
</body>
</html>