<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
<div>
    <a href="/schoolHelper/admin/logs">网站状态</a>
    <a href="/schoolHelper/admin/users">用户管理</a>
    <a href="/schoolHelper/admin/goods">物品管理</a>
    <a href="/schoolHelper/admin/orders">订单管理</a>
    <a href="/schoolHelper/admin/notice">公告管理</a>
    <a href="/schoolHelper/admin/setting">后台设置</a>
</div>
<a href="/schoolHelper/user/login">网站登录</a>
<table>
    <tr>
    <td>id</td>
    <td>status</td>
    <td>startTime</td>
    <td>endTime</td>
    <td>content</td>
    </tr>
    <tr th:each="obj, objStat:${noticeList}">
        <td th:text="${obj.getId()}">id</td>
        <td th:text="${obj.getStatus()}">date</td>
        <td th:text="${obj.getStartTime()}">visit</td>
        <td th:text="${obj.getEndTime()}">user</td>
        <td th:text="${obj.getContent()}">goods</td>
        <td th:href="">修改</td>
        <td th:href="">删除</td>
    </tr>
</table>
</body>
</html>