<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
<div>
    <a href="/schoolHelper/admin/logs">网站状态</a>
    <a href="/schoolHelper/admin/users">用户管理</a>
    <a href="/schoolHelper/admin/goods">物品管理</a>
    <a href="/schoolHelper/admin/orders">订单管理</a>
    <a href="/schoolHelper/admin/notice">公告管理</a>
    <a href="/schoolHelper/admin/setting">后台设置</a>
</div>
<a href="/schoolHelper/user/login">网站登录</a>
<table>
    <tr>
    <td>id</td>
    <td>goodsid</td>
    <td>sellerid</td>
    <td>buyerid</td>
    <td>time</td>
    <td>status</td>
    </tr>
    <tr th:each="obj, objStat:${ordersList}">
        <td th:text="${obj.getId()}">id</td>
        <td th:text="${obj.getGoodsId()}">date</td>
        <td th:text="${obj.getSellerId()}">visit</td>
        <td th:text="${obj.getBuyerId()}">user</td>
        <td th:text="${obj.getTime()}">goods</td>
        <td th:text="${obj.getStatus()}">goods</td>
    </tr>
</table>
</body>
</html>