<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>请求交易</title>
</head>
<body>
<div >
    <a href="/index">home</a>
    <a href="/myGoods">goods</a>
    我买到的
    <a href="/tips/noPage">chat</a>
    <a href="/user/myInformation">我的信息</a>
</div>
<div>
    <a href="/asBuyer/order">我的订单</a>
    <a href="/asBuyer/request">我的请求</a>
</div>
<table>
    <tr>
        <td>name</td>
        <td>price</td>
        <td>detail</td>
        <td>location</td>
        <td>buyer</td>
        <td>seller</td>
        <td>deal_time</td>
    </tr>

    <tr th:each="goods, goodsStat:${goodsList}">
        <td th:text="${goods.getTitle()}"></td>
        <td th:text="${goods.getPrice()}"></td>
        <td th:text="${goods.getDetail()}"></td>
        <td th:text="${goods.getLocation()}"></td>
        <td th:text="${goods.getBuyerid()}"></td>
        <td th:text="${goods.getSellerid()}"></td>
        <td><a th:href="@{/index/showGoods(id=${goods.getId()})}">详情</a> </td>
        <td><a th:href="@{/buyGoods/buyerCancel(id=${goods.getOrderIdBuffer()}, content=${''})}">取消</a></td>
    </tr>

</table>
</body>
</html>