<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改个人信息</title>
</head>
<body>
<form action="/schoolHelper/user/updateUser" method="post" enctype="multipart/form-data">
    昵称：<input th:value="${user.getName()}" name="name"/>
    图片：<input type="file" name="file"/>
    电话：<input th:value="${user.getTel()}" name="tel"/>
    学校：<input th:value="${user.getSchool()}" name="school"/>
    地址：<input th:value="${user.getAddress()}" name="address"/>
    <input name="id" type="hidden" th:value="${user.getId()}">
    <input type="submit" value="保存">
</form>
</body>
</html>