<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:text="${user}"><a href="/user/">请登录</a></p>
<div >
    <a href="/schoolHelper/index">home</a>
    <a href="/schoolHelper/myGoods">goods</a>
    <a href="/schoolHelper/asBuyer/request">我买到的</a>
    <a href="/schoolHelper/tips/noPage">chat</a>
    <a href="/schoolHelper/user/myInformation">我的信息</a>
</div>
<span> <a href="/schoolHelper/myGoods/addGoodsPage">上架</a> </span>
<div>
    <a href="/schoolHelper/myGoods">在架</a>
    <a href="/schoolHelper/myGoods/offLineGoodsPage">下架</a>
    <a href="/schoolHelper/myGoods/dealingGoods">交易中</a>
    <a href="/schoolHelper/myGoods/soldGoods">交易完成</a>
</div>
<table>
    <tr>
        <td>name</td>
        <td>price</td>
        <td>detail</td>
        <td>location</td>
        <td>like</td>
        <td>time</td>
    </tr>

    <tr th:each="goods, goodsStat:${goodslist}">
        <td th:text="${goods.getTitle()}"></td>
        <td th:text="${goods.getPrice()}"></td>
        <td th:text="${goods.getDetail()}"></td>
        <td th:text="${goods.getLocation()}"></td>
        <td th:text="${goods.getStar()}"></td>
        <td th:text="${goods.getTime()}"></td>
        <td><a th:href="@{/index/showGoods(id=${goods.getId()})}">详情</a> </td>
        <td><a th:href="@{/myGoods/updateGoodsPage(id=${goods.getId()})}">修改</a> </td>
        <!--        todo 局部刷新-->
        <td><a th:href="@{/myGoods/onLineGoods(id=${goods.getId()})}">上架</a> </td>
        <td><a th:href="@{/myGoods/deleteGoods(id=${goods.getId()}, page=${'hiding'})}">删除</a> </td>
    </tr>

</table>
</body>
</html>